#costumization {
  & h3 {
    margin: 1.8rem 0 1.5rem 0;
  }

  & .title-and-icon {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    & img {
      width: 1.5rem;
      height: 1.5rem;
    }  
  }

  
  & h4 {
    margin: 1.5rem 0 1rem 0;
  }

}



.main-color {
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;

    
    & span {

      width: 2.5rem;
      height: 2.5rem;
      border: 7px solid var(--input-stroke);
      border-radius: 50%;
    }
  }

  .color1{
    background-color: var(--brand-light);
  }

  .color2{
    background-color: var(--navy);
  }

  .color3{
    background-color: var(--purple);
  }

  .color4{
    background-color: var(--fuschia);
  }

  .color5{
    background-color: var(--pink);
  }

  .color6{
    background-color: var(--danger);
  }

  .color7{
    background-color: var(--orange);
  }

  .color8{
    background-color: var(--yellow);
  }

  .color9{
    background-color: var(--lime);
  }

  .color10{
    background-color: var(--green);
  }

  .color11{
    background-color: var(--cyan);
  }

 .images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    gap: 1rem;
    
 }

 .image_theme{
    width: 8.37rem;
    height: 6.4rem;
    background-color: var(--shape-button);
    text-align: center;
    padding: 4px;
    border-radius: .5rem;
    border: 2px solid var(--shape-hover);
    cursor: pointer;
    

    & img {
      width: 7.7rem;
      height: 4rem;
    }

    & p {
      font: var(--text-sm-reg);
    }
 }

 .custom_style{
  display: flex;
  justify-content: space-between;

  margin-top: 1.75rem;

  & .color_theme{
    width: 11rem;
    height: auto;

    & .choose-theme{
      display: flex;
      align-items: center;
      gap: 0.5rem;

      & .input-datils{
        border: 1px solid var(--shape-hover);
        border-radius: 5rem;
        width: 4rem;
        height: 2rem;
        position: relative;

        & input{
          
          opacity: 0;
        }

        & span{
          border-radius: 100%;
          width: 1.5rem;
          height: 1.5rem;
          position: absolute;
          top: 0.2rem;
          left: 0.2rem;
          background-color: var(--input-stroke);
        }

      }

      
    }
    
  }
  

  & .choose-img {
    width: 23rem;
    height: auto;

    & .upload_img{
      display: flex;
      gap: 0.75rem;
      align-items: center;
      

      
      & div {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          background-color: var(--shape-button);
          padding: 10.5px 0.75rem;
          border-radius: 0.5rem;
          position: relative;
        input{
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
        }  

        img{
          width: 1rem;
          height: 1rem;
        }
        p{
          color: var(--text-heading);
        }
      }

      & p {
        color: var(--input-placeholder);
      }
      
    }
  }
 }