* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*--BRAND COLORS*/
  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  /* --ACCENT COLORS--*/
  --purple: #b259ff;
  --fuschia: #ff59f9;
  --pink: #ff598b;
  --orange: #ff8b59;
  --yellow: #ffcd59;
  --lime: #e1ff59;
  --green: #59ff91;
  --cyan: #59fff9;
  --navy: #6a59ff;

  /*--FEEDBACK--*/
  --danger: #ff5959;

  /*--INPUT--*/
  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  /*--SHAPE--*/
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  /*--TEXT--*/
  --text-body: #c8cdd0;
  --text-heading: #f9f9f9;

  /*FONT*/

  --font-family-open: "Open Sans", system-ui;
  --font-family-leckerli: "Leckerli One", system-ui;
  --font-family-baloo: "Baloo 2", system-ui;

  --title-logo: 400 40px/135% var(--font-family-leckerli);
  --heading-md: 700 28px/160% var(--font-family-baloo);
  --heading-sm: 700 18px/160% var(--font-family-baloo);
  --text-semi: 600 16px/135% var(--font-family-open);
  --text-reg: 400 16px/22px var(--font-family-open);
  --text-sm-semi: 600 14px/19px var(--font-family-open);
  --text-sm-reg: 400 14px/19px var(--font-family-open);
  --text-xs-semi: 600 12px/19px var(--font-family-open);
  --text-xs-reg: 400 12px/19px var(--font-family-open);
}

body {
  font: var(--text-reg);
  color: var(--text-body);
  display: grid;
  grid-template-columns: 32.78% 67.22%;
  background-color: var(--shape-background);

}

img {
  width: 100%;
}

h3 {
  font: var(--heading-sm);
}


input {
  height: 2rem;
  border-radius: 0.5rem;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);

  padding: 1.5rem 1rem;
  width: 100%;
  &::placeholder {
    color: var(--input-placeholder);
  }
}

h4{
    font: var(--text-reg);
    color: var(--text-body);
    margin-bottom: 0.75rem;
}